@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-sans;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background: $color-bg;
}

a {
  color: inherit;
}

button,
input,
select {
  font: inherit;
}
